<?xml version="1.0"?>
<tabs>
  <tab name="My Tasks" url="Home/Index" controllerName="Home" actionName="Index" icon="icon-home" >
    <authorizedRoles>
      <role>TaskManager_User</role>
    </authorizedRoles>
    <tabs>
      <tab name="Task Details" url="Home/Task" controllerName="Home" actionName="Task" hidden="true" icon="icon-home"  >
        <authorizedRoles>
          <role>TaskManager_User</role>
        </authorizedRoles>
      </tab>
    </tabs>
  </tab>
  <tab name="Manage Tasks" url="Admin/Index" controllerName="Admin" actionName="Index" icon="icon-gears"  >
    <authorizedRoles>
      <role>TaskManager_User</role>
      <!--role>Administrator</role-->
    </authorizedRoles>
    <tabs>
      <tab name="Add/Edit Task Definition" url="Admin/ManageTasks" controllerName="Admin" actionName="ManageTasks" icon="icon-plus" hidden="true" >
        <authorizedRoles>
          <role>TaskManager_User</role>
          <!--role>Administrator</role-->
        </authorizedRoles>
      </tab>
    </tabs>
  </tab>
  
</tabs>
