<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings configProtectionProvider="RSAProviderIfarm" xdt:Transform="Replace">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>Z9qNydqwjusyEQOvLktql4I7RViP4HMCliPWfk38lc4s0RiAzY5Mh5mAOSXNmmOAJMw/4ID27J0f7I0N7PsVZWn4c8KTSgJQ5J1qgDBJ7zV9jXzW1qQaAnIXGxf/0/1OWxamOWnvsLJAKQY7Au0+wa6kLFs9Akhh50d/DeMT63s=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>xjFM/LCmFvIU8QW2naC++TjkFhou7AfC6eDxmtnU6h+EIDwE+5MMpAraxCGjMQ3Ym3nJx5HmacOiJLU16bs+DmpPqlb+XK6RUPHb9VURg34rgPCMf9NzPTSiLwKnH6hZ8ryAkhdgXI5dG1qLI4mheuZHk+J2IPs4sNgvupW2EipXSAWnGxdqa3/PKL+NyhHnqn629z4lbJVJ4hKWu0P6I53Fafj5J5eiSDcZDntUNhtmcEOlY6jfdwjzgeektqJilcDtE0TCTABF7Dex1TXh5XpRbHZcMFjAY9pe+JNhueX/uukGfuRX32UGrYCZmhp2eJuSAhgGNQsmdywaB6fdwN1wB9Uvb/UqM7w4+4g+cMJxNhCt8KiTeGQUI5L/QT8t4XMCU5pQ8Jk=</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <appSettings>
    <add key="Environment"  value="Production" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="TaskDefinitionUrl" value="http://taskmanager/Admin/ManageTasks?TaskId=" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="TaskUrl" value="http://taskmanager/Home/Task/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AnalyticSwitch" value="On"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ida:Realm" value="https://taskmanager" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ida:AudienceUri" value="https://taskmanager" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  
  <system.identityModel xdt:Transform="Replace">
    <identityConfiguration>
      <audienceUris>
        <add value="https://taskmanager/" />
      </audienceUris>
      <securityTokenHandlers>
        <add type="System.IdentityModel.Services.Tokens.MachineKeySessionSecurityTokenHandler, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <remove type="System.IdentityModel.Tokens.SessionSecurityTokenHandler, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </securityTokenHandlers>
      <certificateValidation certificateValidationMode="None" />
      <issuerNameRegistry type="System.IdentityModel.Tokens.ValidatingIssuerNameRegistry, System.IdentityModel.Tokens.ValidatingIssuerNameRegistry">
        <authority name="http://adfs.mbia.com/adfs/services/trust">
          <keys>
            <add thumbprint="E1952C4B63A16E5674650E9C93BE3C9101B58361" />
          </keys>
          <validIssuers>
            <add name="http://adfs.mbia.com/adfs/services/trust" />
          </validIssuers>
        </authority>
      </issuerNameRegistry>
    </identityConfiguration>
  </system.identityModel>
  <system.identityModel.services xdt:Transform="Replace">
    <federationConfiguration>
      <cookieHandler requireSsl="true" />
      <wsFederation passiveRedirectEnabled="true" issuer="https://adfs.mbia.com/adfs/ls/" realm="https://taskmanager" requireHttps="true" />
    </federationConfiguration>
  </system.identityModel.services>
</configuration>