<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace" configProtectionProvider="RSAProviderIfarmTest">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>xmxZzJYGppc3SCO+c55jR2spGWXiORwtrii5z6dKPCFnEOnnWUSfbgo2hNjj66CdDkftknO4P1tiLbaSaXwt5B9UGJjFUopJIrTaORIb5NWrsTxGizpBOs/bqAuNR/5E9Kxctpa5ufpWkWvS6A3T26YKgCTPgq2x0yWyiSScCC4=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>5MFlxvwLudCS0EW2RUz3RyJ5xg5oKhcqmKW4J+3A6z57MIO8riCnDa97JZt8YGKMVeXZaXwaVzCBmP+6HopA1NHgOGrOOBu+V1ZB3nMzb9p7cEdJTSqUiYlTY1Y+Rj3HlY/ed73e610GBahjZiHvbgtIjZJiEQoCqa4DRRBVKu4UmlIy5otIjQFlHJPhR78Usu7I0L5uAE1ff1hot3VKBSskhp9GUSO6wFqeh36H/2s9cNrKAA1MQIQOPBh2e03q6ehgxl84Bxyf3SbUOPuLPMOh5C/ZNOMr+gHO0wiokRFYuq9e6xzhnEgp485DyYlcnHSj05jLQvqt2fddLp9RlndOV15wfF0+EPw/ry5UGXv3/wz9MGcrsepY7qNUgL8+Si0CQscKg7A=</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <appSettings>
    <add key="Environment" value="Test" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="TaskDefinitionUrl" value="http://taskmanager-test/Admin/ManageTasks?TaskId=" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="TaskUrl" value="http://taskmanager-test/Home/Task/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AnalyticSwitch" value="Off"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ida:Realm" value="https://taskmanager-test" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ida:AudienceUri" value="https://taskmanager-test" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <log4net>
    <appender name="AdoNetAppender_Oracle" type="log4net.Appender.AdoNetAppender" xdt:Locator="Match(name)">
      <connectionString value="data source=dev12;User ID=itutility_itdev;Password=itutility_itdev" xdt:Transform="Replace"/>
    </appender>
  </log4net>
  <system.identityModel xdt:Transform="Replace">
    <identityConfiguration>
      <audienceUris>
        <add value="https://taskmanager-test/" />
      </audienceUris>
      <securityTokenHandlers>
        <add type="System.IdentityModel.Services.Tokens.MachineKeySessionSecurityTokenHandler, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <remove type="System.IdentityModel.Tokens.SessionSecurityTokenHandler, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </securityTokenHandlers>
      <certificateValidation certificateValidationMode="None" />
      <issuerNameRegistry type="System.IdentityModel.Tokens.ValidatingIssuerNameRegistry, System.IdentityModel.Tokens.ValidatingIssuerNameRegistry">
        <authority name="http://adfs.mbia.com/adfs/services/trust">
          <keys>
            <add thumbprint="E1952C4B63A16E5674650E9C93BE3C9101B58361" />
          </keys>
          <validIssuers>
            <add name="http://adfs.mbia.com/adfs/services/trust" />
          </validIssuers>
        </authority>
      </issuerNameRegistry>
    </identityConfiguration>
  </system.identityModel>
  <system.identityModel.services xdt:Transform="Replace">
    <federationConfiguration>
      <cookieHandler requireSsl="true" />
      <wsFederation passiveRedirectEnabled="true" issuer="https://adfs.mbia.com/adfs/ls/" realm="https://taskmanager-test" requireHttps="true" />
    </federationConfiguration>
  </system.identityModel.services>
</configuration>